@font-face {
    font-family: 'Jost';
    src: url('../fonts/Jost/Jost-Thin.ttf');
    font-weight: 100;
}
@font-face {
    font-family: 'Jost';
    src: url('../fonts/Jost/Jost-ExtraLight.ttf');
    font-weight: 200;
}
@font-face {
    font-family: 'Jost';
    src: url('../fonts/Jost/Jost-Light.ttf');
    font-weight: 300;
}
@font-face {
    font-family: 'Jost';
    src: url('../fonts/Jost/Jost-Regular.ttf');
    font-weight: 400;
}
@font-face {
    font-family: 'Jost';
    src: url('../fonts/Jost/Jost-Medium.ttf');
    font-weight: 500;
}
@font-face {
    font-family: 'Jost';
    src: url('../fonts/Jost/Jost-SemiBold.ttf');
    font-weight: 600;
}
@font-face {
    font-family: 'Jost';
    src: url('../fonts/Jost/Jost-Bold.ttf');
    font-weight: 700;
}
@font-face {
    font-family: 'Jost';
    src: url('../fonts/Jost/Jost-ExtraBold.ttf');
    font-weight: 800;
}
@font-face {
    font-family: 'Jost';
    src: url('../fonts/Jost/Jost-Black.ttf');
    font-weight: 900;
}


body{
    font-family: 'Jost',sans-serif;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 20px;
}

.header {
    width: 100%;
    background: #fff;
}

.header-top {
    border-bottom: 1px solid #ECF3FF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 0;
    font-size: 14px;
    color: #7d7d7d;
}

.header-top-left {
    display: flex;
    align-items: center;
    gap: 30px;
}

.header-top-left a {
    text-decoration: none;
    color: #7d7d7d;
    transition: 0.2s;
}

.header-top-left a:hover {
    color: #5f5fff;
}

.social-icons {
    display: flex;
    align-items: center;
    gap: 10px;
}

.social-icon {
    align-items: center;
    width: 15px;
    height: 15px;
}

.header-top-right {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header-icon-plus {
    padding: 5px;
    cursor: pointer;
}

.header-main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 0;
}

.logo {
    font-size: 30px;
    font-weight: 700;
    text-decoration: none;
    color: #282739;
}

.catalog-btn {
    display: flex;
    align-items: center;
    gap: 14px;
    background: #6C63FF;
    color: #fff;
    border: none;
    font-weight: 500;
    padding: 8px 18px;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.25s;
    font-size: 15px;
}

.catalog-btn:hover {
    background: #5a52e0;
}

.catalog-icon {
    font-size: 18px;
}

.search-wrapper {
    width: 60%;
    height: 44px;
    display: flex;
    align-items: center;
    background: #ffff;
    border: 1px solid #d9d9f3;
    border-radius: 6px;
    overflow: hidden;
}

.custom-select {
    position: relative;
    width: 90px;
}

.custom-select select {
    margin-left: 4px;
    width: 100%;
    padding: 10px 30px 10px 18px;
    font-size: 14px;
    color: #282739;
    background: #F4F7FB;
    border-radius: 6px;
    appearance: none;
    outline: none;
    cursor: pointer;

    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="8" height="5" viewBox="0 0 6 5" fill="none"><path d="M3.4421 3.98501C3.04685 4.58402 2.16799 4.58402 1.77275 3.98501L0.166545 1.55074C-0.272147 0.885886 0.204674 -8.29089e-08 1.00122 -1.32726e-08L4.21362 2.67565e-07C5.01017 3.37201e-07 5.48699 0.885886 5.0483 1.55074L3.4421 3.98501Z" fill="%23282739"/></svg>');
    background-repeat: no-repeat;
    background-position: right 16px center;
    background-size: 10px;

}

.search-input {
    flex: 1;
    border: none;
    background: transparent;
    padding: 0 15px;
    font-size: 15px;
    outline: none;
}

.search-btn {
    background: #6C63FF;
    border: none;
    padding: 12px 15px;
    cursor: pointer;
}

.search-btn img {
    width: 16px;
    height: 16px;
    margin-top: 4px;
}

.header-icons {
    display: flex;
    align-items: center;
    gap: 18px;
    font-size: 14px;
}

.header-icons a {
    display: flex;
    align-items: center;
    gap: 6px;
    color: #333;
    text-decoration: none;
    transition: 0.2s;
}

.header-icons a:hover {
    color: #6C63FF;
}

.sub-nav {
    display: flex;
    justify-content: start;
    background: #F4F7FB;
    gap: 32px;
    padding: 12px 0;
    font-size: 14px;
}

.sub-nav a {
    color: #333;
    text-decoration: none;
    transition: 0.2s;
}

.sub-nav a:hover {
    color: #6C63FF;
}

.badge-blue {
    margin-left: -24px;
    background: #6F73EE;
    padding: 3px 10px;
    font-size: 10px;
    border-radius: 300px;
    color: white !important;
}

.badge-percent {
    margin-left: 8px;
    background: #6C63FF;
    color: #fff;
    border-radius: 50%;
    padding: 1px 5px;
}

@media (max-width: 900px) {
    .search-wrapper {
        width: 100%;
    }
    .header-main {
        flex-wrap: wrap;
        gap: 15px;
    }
}

@media (max-width: 600px) {
    .sub-nav {
        flex-wrap: wrap;
        gap: 10px;
    }
}

.hero {
    position: relative;
    background: linear-gradient(90deg, #8E8BFF, #6C69FF);
    padding: 70px;
    border-radius: 25px;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

/* Левая часть */
.hero-left {
    z-index: 3;
    width: 50%;
}

.hero-left h1 {
    font-size: 42px;
    font-weight: 700;
    color: #fff;
    line-height: 1.25;
}

.hero-subtitle {
    color: #fff;
    opacity: 0.9;
    font-size: 18px;
    margin: 20px 0 30px;
}

.hero-btn {
    background: #fff;
    color: #6C69FF;
    padding: 12px 28px;
    border-radius: 12px;
    border: none;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s;
}

.hero-btn:hover {
    opacity: 0.85;
}

/* Слайдер точки */
.hero-slider-dots {
    margin-top: 30px;
    display: flex;
    align-items: center;
    gap: 12px;
}

.hero-slider-dots .arrow {
    font-size: 30px;
    cursor: pointer;
    color: #fff;
}

.hero-slider-dots .dot {
    width: 10px;
    height: 10px;
    background: white;
    opacity: 0.5;
    border-radius: 50%;
}

.hero-slider-dots .dot.active {
    opacity: 1;
}

/* Правая часть */
.hero-right {
    position: relative;
    width: 50%;
}

.hero-scooter {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 420px;
    z-index: 2;
}

.hero-kirin-bg {
    position: absolute;
    bottom: -114px;
    right: 0;

    font-size: 292px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 15px;

    /* Прозрачная заливка */
    color: transparent;

    /* Обводка */
    -webkit-text-stroke: 2px rgba(255,255,255,0.4);

    pointer-events: none;
    user-select: none;

}

/* Тест-драйв указатель */
.hero-pointer {
    position: absolute;
    top: 160px;
    right: 180px;
    z-index: 5;
}

.pointer-box {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    background: rgba(255,255,255,0.3);
    padding: 10px 18px;
    border-radius: 12px;
    backdrop-filter: blur(6px);
    color: #fff;
}

.pointer-line {
    margin: 10px auto 10px 35px;
    display: flex;
    align-items: center;
}

.pointer-line .dot {
    width: 8px;
    height: 8px;
    background: white;
    border-radius: 50%;
}

.pointer-line .dot.big {
    width: 12px;
    height: 12px;
}

.pointer-line .line {
    width: 80px;
    height: 2px;
    background: white;
    margin: 0 10px;
}

/* БЕСПЛАТНО */
.pointer-free {
    background: #fff;
    color: #6C69FF;
    padding: 6px 18px;
    border-radius: 10px;
    font-size: 14px;
    margin-left: 35px;
}
